.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.677);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-container {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    width: 40%;
    height: 60%;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    max-width: 50%;
  }
  
  .close-button {
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    font-size: 20px;
    color: #666;
    cursor: pointer;
  }
  
  .modal-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 18px;
    font-family: 'Roboto';
    margin-bottom: 2px;
  }
  
  .modal-subtitle {
    text-align: center;
    font-size: 15px;
    color: #4B5563;
    margin-bottom: 30px;
  }
  
  .feedback-input {
    width: 100%;
    height: 40%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: none;
    outline: none;
  }
  
  .submit-button {
    width: 100%;
    margin-top: 16px;
    padding: 10px 0;
    background: linear-gradient(180deg, rgba(139, 117, 255, 0.9) 27.88%, #6D51FF 100%);
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #333;
  }
  .feedbackloader {
    margin: 20px auto;
    border: 5px solid #ccc;
    border-top: 5px solid #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .error-message {
    color: red;
    font-size: 14px;
    /* margin-bottom: 10px; */
  }
  .get-free-h{
    font-family: 'Inter';
    font-weight:600;
    font-size: 24px;
    text-align: center;
  }
  .book-session {
    margin: 10px 0;
    font-size: 14px;
  }
  .mobile-input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 70%;
    margin-top: 10px;
    background-color: #f8f9fa;
  }
  
  .country-code {
    padding: 10px;
    background-color: #f8f9fa;
    border-right: 1px solid #ccc;
    font-size: 16px;
    min-width: 50px;
    text-align: center;
  }
  
  .mobile-number {
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
    outline: none;
    background-color: #f8f9fa;
    color: black;
  }
  